<%- content_for(:header) do -%>
	<%= render :partial => "sessions/current" %>
<%- end -%>
<h2><%=h @user.username %>的起床记录</h2>
<%= render :partial => "wakeup_records/list", :locals => { :wakeup_records => @wakeup_records, :show_user => false } %>
<h2>图</h2>
<%= render :partial => "wakeup_records/image_chart", :locals => { :wakeup_records => @wakeup_records } %>

