<%- content_for(:header) do -%>
	<%= render :partial => "sessions/current" %>
<%- end -%>
<% if logged_in? %>
	<% if not current_user.todays_wakeup_record.nil? %>
		今天起床时间：<%=h nicky_time_a current_user.todays_wakeup_record.time_local %>
	<% else %>
		<%= render :partial => "wakeup_records/post", :locals => { :new_record => @my_wakeup_record } %>
	<% end -%>
<% end -%>
<h2>大家的起床记录</h2>
<%= render :partial => "wakeup_records/list", :locals => { :wakeup_records => @wakeup_records } %>